#page {
	HEIGHT: 1%
}
.cf {
	HEIGHT: 1%
}
UL.cf LI {
	HEIGHT: 1%
}
.linkedimglinklist1 A {
	HEIGHT: 1%
}
.linkedimglinklist2 A {
	HEIGHT: 1%
}
.linkedimglinklist4 A {
	HEIGHT: 1%
}
.linkedimglinklist13 A {
	HEIGHT: 1%
}
.linkedimglinklist14 A {
	HEIGHT: 1%
}
.linkedimglinklist15 A {
	HEIGHT: 1%
}
.region9 {
	WIDTH: 140ex
}
.region8 {
	WIDTH: 112.14ex
}
.region7 {
	WIDTH: 108.21ex
}
.region6 {
	WIDTH: 82.86ex
}
.region5 {
	WIDTH: 81.43ex
}
.region4 {
	WIDTH: 56.07ex
}
.region3 {
	WIDTH: 30.71ex
}
.region2 {
	WIDTH: 26.79ex
}
.region1 {
	WIDTH: 25.36ex
}
.imglinklist1 A {
	WIDTH: auto
}
.linkedimglink2 A {
	WIDTH: 100%
}
.linkedimglinklist7 {
	WHITE-SPACE: nowrap
}
.linkedimglinklist9 {
	WHITE-SPACE: nowrap
}
.linkedimglinklist19 {
	WHITE-SPACE: nowrap
}
.linkedimglinklist20 {
	WHITE-SPACE: nowrap
}
.linkedimglinklist8 A:hover {
	TEXT-DECORATION: underline
}
.linkedimglinklist9 A:hover {
	TEXT-DECORATION: underline
}
.linkedimglinklist10 A:hover {
	TEXT-DECORATION: underline
}
.linkedimglinklist20 A:hover {
	TEXT-DECORATION: underline
}
.linkedimglinklist21 A:hover {
	TEXT-DECORATION: underline
}
.linkedimglinklist22 A:hover {
	TEXT-DECORATION: underline
}
.linkedimglinklist23 A:hover {
	TEXT-DECORATION: underline
}
.linkedimglinklist24 A:hover {
	TEXT-DECORATION: underline
}
.linkedimglinklist4 A:hover {
	BACKGROUND-COLOR: #ebf3fb; TEXT-DECORATION: none
}
.linklist1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.linklist1 LI.first {
	PADDING-TOP: 0.25em
}
.linklist2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; COLOR: #999; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.linklist2 LI.first {
	PADDING-TOP: 0.25em
}
.linklist16 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; BACKGROUND: url(decoration/bullet.gif) no-repeat 0px 0.7em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.linklist16 LI.first {
	PADDING-TOP: 0.25em
}
.orderedlist1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.orderedlist1 LI.first {
	PADDING-TOP: 0.25em
}
.orderedlist2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.orderedlist2 LI.first {
	PADDING-TOP: 0.25em
}
.orderedlist3 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.orderedlist3 LI.first {
	PADDING-TOP: 0.25em
}
.orderedlist4 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.orderedlist4 LI.first {
	PADDING-TOP: 0.25em
}
.orderedlist5 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.orderedlist5 LI.first {
	PADDING-TOP: 0.25em
}
.singlelist1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; BACKGROUND: url(decoration/bullet.gif) no-repeat 0px 0.7em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.singlelist1 LI.first {
	PADDING-TOP: 0.25em
}
.singlelist2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.singlelist2 LI.first {
	PADDING-TOP: 0.25em
}
.singlelist3 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em; COLOR: #666; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.singlelist3 LI.first {
	PADDING-TOP: 0.25em
}
.linklist4 A {
	WIDTH: 100%
}
.linklist5 A {
	WIDTH: 100%
}
.msnhead1 .primary INPUT {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; WIDTH: 32.5ex; PADDING-TOP: 0.3em
}
.msnhead1 .primary INPUT.button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; WIDTH: 14.33ex; PADDING-TOP: 0.3em
}
.msnhead1 .site .name {
	BOTTOM: auto; POSITION: static
}
.nested1 UL UL LI {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.double1 .child {
	DISPLAY: inline
}
.triple1 .child {
	DISPLAY: inline
}
.triple2 .child {
	DISPLAY: inline
}
.triple3 .child {
	DISPLAY: inline
}
.triple6 .c1 {
	DISPLAY: inline
}
.quad1 .child {
	DISPLAY: inline
}
.quad2 .child {
	DISPLAY: inline
}
.quad3 .child {
	DISPLAY: inline
}
.quad4 .child {
	DISPLAY: inline
}
.quad5 .child {
	DISPLAY: inline
}
.quad6 .c1 {
	DISPLAY: inline
}
.quad7 .c1 {
	DISPLAY: inline
}
.quad8 .child {
	DISPLAY: inline
}
.quad9 .child {
	DISPLAY: inline
}
.quad10 .child {
	DISPLAY: inline
}
.penta1 .child {
	DISPLAY: inline
}
.penta2 .child {
	DISPLAY: inline
}
.penta3 .child {
	DISPLAY: inline
}
.penta4 .child {
	DISPLAY: inline
}
.penta5 .c1 {
	DISPLAY: inline
}
.penta5 .c3 {
	DISPLAY: inline
}
.penta6 .child {
	DISPLAY: inline
}
.penta7 .c1 {
	DISPLAY: inline
}
.penta8 .child {
	DISPLAY: inline
}
.penta10 .child {
	DISPLAY: inline
}
.penta11 .child {
	DISPLAY: inline
}
.penta12 .child {
	DISPLAY: inline
}
.penta13 .child {
	DISPLAY: inline
}
.penta14 .child {
	DISPLAY: inline
}
.penta15 .child {
	DISPLAY: inline
}
.penta16 .child {
	DISPLAY: inline
}
.penta17 .child {
	DISPLAY: inline
}
.penta18 .child {
	DISPLAY: inline
}
.penta19 .child {
	DISPLAY: inline
}
.penta20 .child {
	DISPLAY: inline
}
.hexa1 .child {
	DISPLAY: inline
}
.hexa2 .child {
	DISPLAY: inline
}
.hexa3 .child {
	DISPLAY: inline
}
.hexa4 .child {
	DISPLAY: inline
}
.hexa8 .child {
	DISPLAY: inline
}
.hexa9 .child {
	DISPLAY: inline
}
.hexa10 .child {
	DISPLAY: inline
}
.hexa11 .child {
	DISPLAY: inline
}
.hexa12 .child {
	DISPLAY: inline
}
.hexa13 .child {
	DISPLAY: inline
}
.hexa14 .child {
	DISPLAY: inline
}
.hexa15 .child {
	DISPLAY: inline
}
.hexa16 .child {
	DISPLAY: inline
}
.hexa17 .child {
	DISPLAY: inline
}
.hexa18 .child {
	DISPLAY: inline
}
.hexa19 .child {
	DISPLAY: inline
}
.hexa20 .child {
	DISPLAY: inline
}
.hexa21 .child {
	DISPLAY: inline
}
.hexa22 .child {
	DISPLAY: inline
}
.hexa23 .child {
	DISPLAY: inline
}
.hexa24 .child {
	DISPLAY: inline
}
.hexa25 .c2 {
	DISPLAY: inline
}
.hexa25 .c3 {
	DISPLAY: inline
}
.hexa25 .c4 {
	DISPLAY: inline
}
.hexa25 .c5 {
	DISPLAY: inline
}
.hexa25 .c6 {
	DISPLAY: inline
}
.hexa26 .child {
	DISPLAY: inline
}
.hexa27 .child {
	DISPLAY: inline
}
.hexa28 .child {
	DISPLAY: inline
}
.hexa29 .child {
	DISPLAY: inline
}
.hexa30 .child {
	DISPLAY: inline
}
.hexa31 .child {
	DISPLAY: inline
}
.hexa32 .child {
	DISPLAY: inline
}
.hexa33 .child {
	DISPLAY: inline
}
.hexa34 .child {
	DISPLAY: inline
}
.hexa5 .c3 {
	PADDING-LEFT: 53.5%
}
.alt3 H2 {
	BACKGROUND-COLOR: transparent
}
.promo H2 A {
	COLOR: #fff
}
.promo H2 A:link {
	COLOR: #fff
}
.promo H2 A:visited {
	COLOR: #fff
}
.promo H2 A:hover {
	COLOR: #fff
}
.promo H2 A:active {
	COLOR: #fff
}
#head {
	WIDTH: 136.9ex
}
#page {
	WIDTH: 136.9ex
}
#foot {
	WIDTH: 137.3ex
}
#area1 .parent {
	WIDTH: 95.1%
}
#area2 .parent {
	WIDTH: 99%
}
#toolbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; WIDTH: 99.8%; PADDING-TOP: 0px; BORDER-BOTTOM-STYLE: none
}
#promo .c3 {
	WIDTH: 33.9%
}
.triple2#popsearches .c1 {
	FLOAT: left; MARGIN: 0px 6px
}
#shopping {
	WIDTH: 99%! important
}
#shopping H2 {
	WIDTH: auto
}
#stocks .c1 {
	WIDTH: 60ex; MARGIN-RIGHT: 0px
}
.stock1 .currency {
	COLOR: #000
}
.stock3 TD {
	COLOR: #000
}
.stock1 {
	FONT-SIZE: 100%
}
#chtrt .c2 UL LI {
	WIDTH: 46.5%
}
#vz01t .c2 UL LI {
	WIDTH: 46.5%
}
#chtrb .c2 UL LI {
	WIDTH: 49%; MARGIN-RIGHT: 0px
}
#chtrt .c2 {
	WIDTH: 95%
}
#vz01t .c2 {
	WIDTH: 95%
}
#vz01t .child {
	FLOAT: left
}
#chtrt .child {
	FLOAT: left
}
#vz01t .c2 {
	MARGIN: 0px 6px
}
#chtrt .c2 {
	MARGIN: 0px 6px
}
#vz01t .c1 {
	MARGIN-BOTTOM: 0px
}
#chtrt .c1 {
	MARGIN-BOTTOM: 0px
}
#vz01t .c3 {
	MARGIN-TOP: 6px
}
#vz01b .c3 {
	MARGIN-TOP: 6px
}
#chtrt .c3 {
	MARGIN-TOP: 6px
}
#chtrb .c3 {
	MARGIN-TOP: 6px
}
#blowout .c2 H3 {
	LINE-HEIGHT: 2.5ex; HEIGHT: 2.5ex
}
#blowout .c2 .link {
	LINE-HEIGHT: 2ex
}
.photolistset .list {
	DISPLAY: block; WIDTH: auto
}
.forecast1 H4 {
	WIDTH: 30%
}
#spotlist {
	WIDTH: 55.5%! important; MARGIN-RIGHT: 0px! important
}
.spotheader {
	MARGIN-BOTTOM: 0px! important
}
#spotlist LI {
	BACKGROUND-POSITION: 0px 0.5em; WIDTH: 96%! important
}
#vz01t .c4 {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 6px
}
#hmm A {
	CURSOR: hand
}
#tickler {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 14ex; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 9px; WIDTH: 136.9ex; COLOR: #07519a; PADDING-TOP: 0px; POSITION: relative; min-width: 768px
}
.search#tickler {
	BACKGROUND: url(decoration/provbtn.gif) no-repeat 3% 2%
}
#tickler LABEL {
	FONT-SIZE: 160%; MARGIN-LEFT: 23%
}
#tickler IMG {
	MARGIN: 9px 0px 0px
}
#tickler FORM {
	MARGIN: 2ex 0px 0.5ex; POSITION: relative
}
.search#tickler FORM {
	MARGIN-TOP: 5ex
}
#tickler INPUT.button {
	BORDER-RIGHT: #2263a5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #2263a5 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(decoration/search.gif) #cf0 repeat-x 0px 0px; LEFT: 2ex; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 0.2em; VERTICAL-ALIGN: bottom; BORDER-LEFT: #2263a5 1px solid; COLOR: #fff; PADDING-TOP: 0px; BORDER-BOTTOM: #2263a5 1px solid; POSITION: relative
}
.stock3 .first {
	DISPLAY: block
}
